.PhotoView-Portal {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  touch-action: none;
  width: 100%;
  z-index: 2000;
}
@-webkit-keyframes PhotoView__rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes PhotoView__rotate {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes PhotoView__delayIn {
  0%,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes PhotoView__delayIn {
  0%,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.PhotoView__Spinner {
  -webkit-animation: PhotoView__delayIn 0.4s linear both;
  animation: PhotoView__delayIn 0.4s linear both;
}
.PhotoView__Spinner svg {
  -webkit-animation: PhotoView__rotate 0.6s linear infinite;
  animation: PhotoView__rotate 0.6s linear infinite;
}
.PhotoView__Photo {
  cursor: -webkit-grab;
  cursor: grab;
  max-width: none;
}
.PhotoView__Photo:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.PhotoView__icon {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
}
.PhotoView__PhotoBox,
.PhotoView__PhotoWrap {
  bottom: 0;
  direction: ltr;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
  width: 100%;
}
.PhotoView__PhotoWrap {
  overflow: hidden;
  z-index: 10;
}
.PhotoView__PhotoBox {
  transform-origin: left top;
}
@-webkit-keyframes PhotoView__fade {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes PhotoView__fade {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.PhotoView-Slider__clean .PhotoView-Slider__ArrowLeft,
.PhotoView-Slider__clean .PhotoView-Slider__ArrowRight,
.PhotoView-Slider__clean .PhotoView-Slider__BannerWrap,
.PhotoView-Slider__clean .PhotoView-Slider__Overlay,
.PhotoView-Slider__willClose .PhotoView-Slider__BannerWrap:hover {
  opacity: 0;
}
.PhotoView-Slider__Backdrop {
  background: #000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition-property: background-color;
  width: 100%;
  z-index: -1;
}
.PhotoView-Slider__fadeIn {
  -webkit-animation: PhotoView__fade linear both;
  animation: PhotoView__fade linear both;
  opacity: 0;
}
.PhotoView-Slider__fadeOut {
  animation: PhotoView__fade linear reverse both;
  opacity: 0;
}
.PhotoView-Slider__BannerWrap {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  height: 44px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-out;
  width: 100%;
  z-index: 20;
}
.PhotoView-Slider__BannerWrap:hover {
  opacity: 1;
}
.PhotoView-Slider__Counter {
  font-size: 14px;
  opacity: 0.75;
  padding: 0 10px;
}
.PhotoView-Slider__BannerRight {
  align-items: center;
  display: flex;
  height: 100%;
}
.PhotoView-Slider__toolbarIcon {
  fill: #fff;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.75;
  padding: 10px;
  transition: opacity 0.2s linear;
}
.PhotoView-Slider__toolbarIcon:hover {
  opacity: 1;
}
.PhotoView-Slider__ArrowLeft,
.PhotoView-Slider__ArrowRight {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  top: 0;
  transition: opacity 0.2s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  z-index: 20;
}
.PhotoView-Slider__ArrowLeft:hover,
.PhotoView-Slider__ArrowRight:hover {
  opacity: 1;
}
.PhotoView-Slider__ArrowLeft svg,
.PhotoView-Slider__ArrowRight svg {
  fill: #fff;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  height: 24px;
  padding: 10px;
  width: 24px;
}
.PhotoView-Slider__ArrowLeft {
  left: 0;
}
.PhotoView-Slider__ArrowRight {
  right: 0;
}
