.animated-blob {
  animation: blob 7s infinite;
}

.animation-delay-5000 {
  animation-delay: 5s;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: tranlate(0px, 0px) scale(1);
  }
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }

  .no-break {
    page-break-inside: avoid;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
