.animated-blob {
  animation: blob 7s infinite;
}

.animation-delay-5000 {
  animation-delay: 5s;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: tranlate(0px, 0px) scale(1);
  }
}
