@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  @apply m-auto w-full max-w-7xl p-6;
}

.default-button {
  @apply rounded-md border border-slate-300 bg-slate-200 px-4 py-2 font-medium shadow-sm hover:bg-slate-250 dark:border-slate-700 dark:bg-slate-800 dark:hover:bg-slate-750;
}
